

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-toolbar><b>Menu</b></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><b>Mappatura🗺️</b></a>
      <a mat-list-item href="#"><b>Area Personale👤</b></a>
      <a mat-list-item href="#"><b>Guida❔</b></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
        <img src="./assets/vlogo.png" style="height: 130px; margin-right: 16px;"/>
        <span style="flex: 1 1 auto;"><b>VIRTUALPITSTOP</b></span>
        
        <button mat-button><b><p class="testoToolbar">Home</p></b></button>
        <button mat-button><b><p class="testoToolbar">Chi Siamo</p></b></button>
        <button mat-button><b><p class="testoToolbar">Contatti</p></b></button>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>