

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-toolbar><b>Menu</b></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="principal"><b>Home🏠</b></a>
      <a mat-list-item href="quiz"><b>Quiz❔</b></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
        <span style="flex: 1 1 auto;"><p style="font-size: 150%;"><b>TRIVIA</b></p></span>
        
        <button mat-button><b><p>Home</p></b></button>
        <button mat-button><b><p>Chi Siamo</p></b></button>
        <button mat-button><b><p>Contatti</p></b></button>
        <button mat-button routerLink="/loginpage"><b>LOGIN</b></button>
        <button mat-button routerLink="/registerpage"><b><p>REGISTER</p></b></button>
        <button mat-button><img src="./assets/p.png" style="height: 30px; margin-right: 0px;"/></button>
    </mat-toolbar>

    <!-- testo in più -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

