<!-- <div class="content-container">
  <mat-card class="content-card">    
    <mat-card-header>
      <mat-card-title class="custom-title">
        <h1>ACCEDI AL PORTALE!</h1>
      </mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Inserisci il tuo indirizzo email" placeholder="example@gmail.com">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Inserisci la password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
        <button mat-button><b><p>Accedi</p></b></button>
        <br>
        <button mat-button routerLink="/registerpage">Non hai un account? Iscriviti!</button>
  </mat-card>
  
</div> -->

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Campo obbligatorio
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Inserisci un'email valida
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Campo obbligatorio
        </mat-error>
      </mat-form-field>

      <button 
        mat-raised-button 
        color="primary" 
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
  



