.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .content-container {
    padding: 20px;
    
}
  
  .content-card {
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgb(138, 184, 240); 
  }
  
  .rectangular-image {
    height: 450px;
    object-fit: cover;
  }
  
  .custom-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
  }
  
  .custom-content {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px 0;
    text-align: justify;
  }