<div class="content-container">
  <mat-card class="content-card">    
    <mat-card-header>
      <mat-card-title class="custom-title">
        <h1>ISCRIVITI AL PORTALE!</h1>
      </mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="form-container">
      <!-- Nome -->
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Mario">
        @if (registerForm.get('nome')?.hasError('required')) {
          <mat-error>Campo obbligatorio</mat-error>
        }
      </mat-form-field>

      <!-- Cognome -->
      <mat-form-field>
        <mat-label>Cognome</mat-label>
        <input matInput formControlName="cognome" placeholder="Rossi">
        @if (registerForm.get('cognome')?.hasError('required')) {
          <mat-error>Campo obbligatorio</mat-error>
        }
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="example@gmail.com">
        @if (registerForm.get('email')?.hasError('required')) {
          <mat-error>Campo obbligatorio</mat-error>
        }
        @if (registerForm.get('email')?.hasError('email')) {
          <mat-error>Formato email non valido</mat-error>
        }
      </mat-form-field>

      <!-- Password -->
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput 
               formControlName="password"
               [type]="hide() ? 'password' : 'text'"
               placeholder="Inserisci password">
        
        <!-- Icona visibilità -->
        <button mat-icon-button matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Toggle password visibility'">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button 
        mat-raised-button 
        color="primary" 
        type="submit"
        [disabled]="registerForm.invalid || loading">
        {{ loading ? 'Registrazione in corso...' : 'Iscriviti' }}
      </button>

      <div class="message-container">
        @if (errorMessage()) {
          <div class="error-message">{{ errorMessage() }}</div>
        }
      </div>

      <a routerLink="/loginpage" class="register-link">Hai già un account? Accedi!</a>
    </form>
  </mat-card>
</div>