<div class="content-container">
  <mat-card class="content-card">

    <img mat-card-image src="assets/hola.png" alt="Quiz" class="rectangular-image"/>
    
    <mat-card-header>
      <mat-card-title class="custom-title">
        <h1>BENVENUTI NEL QUIZ!</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="custom-content">
      <p>Inizia a svolgerlo ora!</p>
    </mat-card-content>
    <button mat-button routerLink="/quiz"><b><p>INIZIA</p></b></button>
  </mat-card>
  
</div>