<div class="content-container">
    <mat-card class="content-card">

      <img mat-card-image src="assets/porsche.jpg" alt="Porsche" class="rectangular-image"/>
      
      <mat-card-header>
        <mat-card-title class="custom-title">
          <h1>BENVENUTI SU VIRTUALPITSTOP!</h1>
          <!-- <h1>IL TUO GARAGE VIRTUALE!</h1> -->
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content class="custom-content">
        <p>Benvenuti nel sito del garage virtuale!</p>
      </mat-card-content>
    </mat-card>
  </div>
