<div class="content-container">
    <mat-card class="content-card">

      <img mat-card-image src="./assets/mag.jpeg" alt="Porsche" class="rectangular-image"/>
      
      <mat-card-header>
        <mat-card-title class="custom-title">
          <h1>VISUALE MAGAZZINO</h1>
          <!-- <h1>IL TUO GARAGE VIRTUALE!</h1> -->
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content class="custom-content">
        <p>Prenotate se ci sono posti liberi!</p>
      </mat-card-content>
    </mat-card>
  </div>
